.formLogin {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem 1rem;
  border-radius: 6px;
  align-items: center;
}

.formLabel {
  margin: 0.5rem 0rem;
}
.formInput {
  width: 50%;
  margin-bottom: 1rem;
}

.textDanger {
  color: red;
  font-size: 11px;
  margin-bottom: 1rem;
}
