.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #363a3e;
  flex-direction: row;
}
.logo {
  color: #ffe300;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 700px) {
  .navHeader {
    flex-direction: column;
    padding: 1rem 4rem;
  }

  .inputHeader {
    margin-top: 1vh;
  }
}
